<!-- /templates/page.amazon.liquid -->
{% section 'header-image-background-amazon' %}
<div class="page-width page-container page-amazon wrapper">
  <div class="rte rte--indented-images">
    {{ page.content }}
  </div>
</div>
